

{% extends 'base.html' %}

{% block breadcrumb %}


{% endblock %}

<div class="container mycontent">

  {% block content %}
  <div id="menu">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Home</th>
          <th>Gallery</th>
          <th>Our staff</th>
          <th>About Us</th>
          <th>Contact Us</th>
        </tr>
      </thead>
    </table>
    {% if user.is_authenticated and user.role == 1 %}
     <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class='{% if request.resolver_match.url_name == "profile" %}active{% endif %}'><a href="{% url 'profile' user.id %}">My Detail</a></th>
          <th class='{% if request.resolver_match.url_name == "appointment-book" %}active{% endif %}'><a href="{% url 'appointment-book' %}">Book Appointment</a></th>
          <th class='{% if request.resolver_match.url_name == "appointment-me" %}active{% endif %}'><a href="{% url 'appointment-me' %}">View Booking</th>
          <th class='{% if request.resolver_match.url_name == "appointment-update" %}active{% endif %}'><a href="{% url 'appointment-update' %}">Reschedule Booking</th>
          <th class='{% if request.resolver_match.url_name == "feedback" %}active{% endif %}'><a href="{% url 'feedback' %}">Feedback</th>
        </tr>
      </thead>
    </table>
    {% endif %}
    {% if user.is_authenticated and user.role == 2 %}
     <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th class='{% if request.resolver_match.url_name == "appointment-me" %}active{% endif %}'><a href="{% url 'appointment-me' %}">My Appointment</th>
          <th class='{% if request.resolver_match.url_name == "patients" %}active{% endif %}'><a href="{% url 'patients' %}">View Custumer</a></th>
          <th>Add Description</th>
          <th class='{% if request.resolver_match.url_name == "profile" %}active{% endif %}'><a href="{% url 'profile' user.id %}">My Detail</a></th>
        </tr>
      </thead>
    </table>
    {% endif %}
  </div>
  {% endblock %}

</div>
