{% extends 'home.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
  {{ block.super }}
  <div class="row">
    <div class="col-lg-4">
      <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" style="width:80%;" id="profile-image1" class="img-circle img-responsive">
        <input id="profile-image-upload" class="hidden" type="file">
      </div>
      <br>
    </div>
    <div class="col-lg-offset-1 col-lg-7">
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="row">
            <div class="col-lg-5">
              {{ field.errors }}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            </div>
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Update" />
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js_content %}
  <script type="text/javascript">
      $(function () {
        $('#datetimepicker4').datetimepicker({
          format : 'YYYY-MM-DD'
        });
      });
    </script>
{% endblock%}